*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #0f0f0f;
    background-color: #0b0b0b;
}

#container{
    background-image: url(../images/fondformu.jpg);
    height: 100vh;
    text-align: center;
}



.message3{
    margin-bottom: 30px;
}

#msg,
#mail,
#pseudo{
    margin-top: 20px;
}

#msg,
#mail {
    width: 300px;
}

#msg{
    width: 400px;
    height: 200px;
}

#label1,
#label2,
#label3{
    color: #0b0b0b;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 50px;
}

#label1{
    padding-top: 150px;
}


#envoyer {
    width: 100px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 50px;
}


a {
    text-decoration: none;
}




